@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    
}
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
}
main{
    height: 100vh;
    position: relative;

}
#phone{
    height: 627px;
    width: 311px;
    background-color: black;

    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat
    
}
#tela{
    position: relative;
    top: 12%;
    left: 7%;
    width: 267px;
    height: 478px;
    border-radius: 4px;
}
#social-network{
    text-align: right;
}
#social-network img{
    width: 50px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 15px 10px 14px 3px rgba(0, 0, 0, 0.562);
   box-sizing: border-box;
}
#social-network img:hover{
    border: 2px solid white;
    transform: translate(-3px, -5px);
    box-shadow: 18px 10px 9px 3px rgba(0, 0, 0, 0.616);
    transition: transform 0.3s;
}